.resume-container, .skills-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 90%;
  height: 100%;
  transition: 1s;
  @media only screen and (min-width: 1600px) {
    margin-left: 7em;
  }
  @media only screen and (max-width: 600px) {
    font-size: 70%;
    margin-top: 4em;
  }
  h1 {
    color: hsl(320, 100%, 70%);
    margin-top: 1.5em;
    animation: section-title 3s linear infinite;
    
    @keyframes section-title {
      0% {
        text-shadow: 0 0 25px hsl(320, 100%, 70%);
      }
      50% {
        text-shadow: none;
      }
      100% {
        text-shadow: 0 0 25px hsl(320, 100%, 70%);
      }
    }
  }
  .toggle {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-top: -4em;
    background-color: #042D4A;
    border-radius: 7px;
    transform: translateY(5.5em);
    animation: indicate 1.5s infinite alternate;
    outline-offset: 1px;
    z-index: 1;
    
    @media only screen and (max-width: 600px) {
      transform: translateY(5.25em);
      position: relative;
      left: 4em;
    }

    @keyframes indicate {
      from {
        outline: 1px solid hsl(140, 100%, 70%);
      }
      
      to {
        outline: 1px solid #042D4A;
      }
    }
    .internal {
      display: flex;
      flex-direction: column;
      border-radius: 7px;
      position: relative;
      .drawer-up {
        margin-bottom: -.5em;
      }
      &:hover {
        outline: 1px solid hsl(140, 100%, 70%);
        outline-offset: 1px;
      }
      @media only screen and (max-width: 600px) {
        flex-direction: row;
      }
    }

  }
  h2 {
    display: flex;
    justify-content: space-between;
    color: hsl(140, 100%, 70%);
    margin-left: 1rem;
    animation: section-job 3s linear infinite;
    
    @keyframes section-job {
      0% {
        text-shadow: none;
      }
      50% {
        text-shadow: 0 0 25px hsl(140, 100%, 70%);
      }
      100% {
        text-shadow: none;
      }
    }
    .year {
      color: hsl(400, 100%, 70%);
      font-size: 80%;
      margin: 5px;
      font-style: italic;
      animation: section-year 3s linear infinite;
    
      @keyframes section-year {
        0% {
          text-shadow: none;
        }
        50% {
          text-shadow: 0 0 25px hsl(400, 100%, 70%);
        }
        100% {
          text-shadow: none;
        }
      }
    }
  }
  .projects {
    font-style: normal;
  }
  h3 {
    color: hsl(180, 100%, 70%);
    margin-left: 2rem;
    font-style: italic;
    animation: section-location 3s linear infinite;
    
    @keyframes section-location {
      0% {
        text-shadow: 0 0 25px hsl(180, 100%, 70%);
      }
      50% {
        text-shadow: none;
      }
      100% {
        text-shadow: 0 0 25px hsl(180, 100%, 70%);
      }
    }
  }
  ul {
    color: #edf5e1;
    margin-left: 3rem;
  }
  .descProf:nth-child(odd),
  .descPers:nth-child(even),
  .descComm:nth-child(odd) {
    color: hsl(250, 100%, 90%);
  }
}