.resume-container {
  align-self: center;
  font-size: 90%;
  h1 {
    color: hsl(320, 100%, 70%);
    margin-top: 1.5rem;
  }
  h2 {
    color: hsl(145, 100%, 70%);
    margin-left: 1rem;
  }
  .projects {
    font-style: normal;
  }
  h3 {
    color: hsl(180, 100%, 70%);
    margin-left: 2rem;
    font-style: italic;
    .year {
      float: right;
    }
  }
  ul {
    margin-left: 3rem;
    color: #edf5e1;
  }
}