.resume-container, .skills-container {
  align-self: center;
  font-size: 90%;
  h1 {
    color: hsl(320, 100%, 70%);
    margin-top: 1.5rem;
  }
  h2 {
    color: hsl(140, 100%, 70%);
    margin-left: 1rem;
  }
  .projects {
    font-style: normal;
  }
  h3 {
    color: hsl(180, 100%, 70%);
    margin-left: 2rem;
    font-style: italic;
    .year {
      color: hsl(400, 100%, 70%);
      float: right;
      margin: 5px;
    }
  }
  ul {
    color: #edf5e1;
    margin-left: 3rem;
  }
  .descProf:nth-child(odd),
  .descPers:nth-child(even),
  .descComm:nth-child(odd) {
    color: hsl(250, 100%, 90%);
  }
}