.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .profile {
    align-self: center;
    .face {
      align-self: center;
      border-radius: 50%;
      width: 30%;
      box-shadow: 0 0 50px #09BC8A;
    }
  }
  .split {
    width: 5px;
    height: 50%;
    border-left: 1px solid #09BC8A;
    border-right: 1px solid #09BC8A;
    border-radius: 5px;
    margin-left: -13.5%;
    margin-right: 10%;
  }
  .link-buttons {
    align-self: center;
    color: #09BC8A;
    .mdiIcons {
      display: flex;
      justify-content: space-evenly;
      width: 90%;
      margin-left: .5em;
    }
  }
}
.theme--light.v-application {
  background-color: #172A3A;
}