.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .mainbody {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    .face {
      border-radius: 50%;
      width: 10em;
      animation: glow 3s linear infinite;
      
      @keyframes glow {
        0% {
          box-shadow: 0 0 15px hsl(150, 100%, 60%);
        }
        50% {
          box-shadow: 0 0 50px hsl(150, 100%, 60%);
        }
        100% {
          box-shadow: 0 0 15px hsl(150, 100%, 60%);
        }
      }
      
      @media only screen and (min-width: 600px) {
        float: right;
      }

      @media only screen and (max-width: 600px) {
        float: none;
        margin-top: 10em;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-51.5%, -50%);
      }
    }
    .split {
      width: 5px;
      height: 50vh;
      border-left: 1px solid hsl(150, 100%, 60%);
      border-right: 1px solid hsl(150, 100%, 60%);
      box-shadow: 0 0 5px hsl(150, 100%, 60%);
      border-radius: 5px;
      margin: auto;
      
      @media only screen and (max-width: 600px) {
        border-top: 1px solid hsl(150, 100%, 60%);
        border-bottom: 1px solid hsl(150, 100%, 60%);
        height: 5px;
        width: 90vw;
        margin-top: -35%;
        margin-bottom: 5vh;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .link-buttons {
      display: flex;
      flex-direction: column;
      color: hsl(150, 100%, 60%);
      font-size: 1.25em;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      
      @media only screen and (min-width: 600px) {
        float: left;
      }
      
      @media only screen and (max-width: 600px) {
        float: none;
        margin-top: -40%;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-51.5%, -50%);
      }
      h1 {
        align-self: center;
        animation: neon 3s linear infinite;

        @keyframes neon {
          0% {
            text-shadow: 0 0 25px hsl(150, 100%, 60%);
          }
          50% {
            text-shadow: none;
          }
          100% {
            text-shadow: 0 0 25px hsl(150, 100%, 60%);
          }
        }
      }
      .mdiIcons {
        display: flex;
        justify-content: space-around;
        align-self: center;
        align-items: center;
        width: 10em;
        margin-left: .5em;
      }
    }
  }
  .scroll {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 95vh;
    bottom: 0;
    .down {
      cursor: pointer;
    }
  }
}
.theme--light.v-application {
  background-color: #05385B;
  font-family: 'Nunito', sans-serif;
}
